*{
	padding: 0;
}

body{
	margin-left: 10%;
	margin-right: 5%;
	margin-top: 50px;
}
section{
	min-height: 450px;
}
header {
	border-bottom: 5px solid blue;
	margin-bottom: 10px;
}
footer {
	padding: 5px;
	margin-top: 40px;
	text-align: center;
	vertical-align: middle;
	border-top: 20px solid lightblue;
	background-color: blue;
	color: white;
}
table {
	border-collapse: collapse;
	width: 80%;
}
thead{
	margin-bottom: 10px;
}
th {
	height: 40px;
	font-size: 20px;
	background-color: blue;
	color: white;
}
th,tr, td {
	border: 1px solid blue;
	padding: 9px;
}
tr:hover{
	background-color: lightblue;
}
a{
	color: blue;
	text-decoration: none
}
.center{
	text-align: center;
}
.bold{
	font-weight: bold;
}

blockquote{
	padding-left:5px; 
	border-left: 5px solid blue;
	background-color: lightblue;
	width: 50%;
}
.big {
	font-size: 23px;
}
.red {
	color: red;
}
.green {
	color: green;
}
.warning {
	font-size: 15px;
	font-weight: bold;
}
nav {
	margin: 0;
}
input, select {
	display: block;
	margin: 20px;
	padding: 10px;
	width: 30%;
}
input[type='number']{
	width: 300px;
}

.article {
	margin: 10px 0 50px;
	-webkit-column-width :400px;
	-webkit-column-rule : 5px double violet;
	column-width:400px;
	column-rule: 5px double violet;
}
.error {
	border-left: 5px solid red;
	padding: 10px;
	color: red;
	background-color: pink;
}
.catatan-atas{
	margin-bottom: 10px;
	float: right;
	display: inline;
}